<section id="container">
  <section>
    <p>
      <strong>User</strong><br>
      <%= @user.username %>
      <%= @user.email %>
    </p>
    <%= link_to 'Редактировать', edit_user_path(@user) %>
    <%= link_to 'Назад', welcome_index_path %>
  </section>
</section>
