<section id="container">
  <section>
    <p id="notice"><%= notice %></p>
    <% if current_user %>
      <% if current_user.current_deck %>
        <%= render 'form_review' %>
      <% else %>
        <%= render 'decks/form_set_current' %>
      <% end %>
    <% else %>
      <%= render 'form_review' %>
    <% end %>
  </section>
</section>
