<section id="container">
  <section>
    <% if flash[:success] -%>
      <p class='success'><%= flash[:success] %></p>
    <% end -%>
    <% if flash[:error] -%>
      <p class='error'><%= flash[:error] %></p>
    <% end -%>
    <%= render 'form_review' %>
  </section>
</section>
