<section id="container">
  <section>
    <p id="notice"><%= notice %></p>
    <p>
      <strong><%= t('cards.name')%></strong><br>
    <%= link_to t('links.back'), home_cards_path %>
  </section>
</section>
