<section id="container">
  <section>
    <p style="font-size: 22px;">
      <%= t('cards.edit')%>
    </p>
    <%= render 'form' %>
    <%= link_to t('links.show'), @card %>
    <%= link_to t('links.back'), cards_path %>
  </section>
</section>
