<section id="container">
  <section>
    <p style="font-size: 22px;">
      Редактирование карточки
    </p>
    <%= render 'form' %>
    <%= link_to 'Показать', @card %>
    <%= link_to 'Назад', cards_path %>
  </section>
</section>
