<section id="container">
  <section>
    <table>
	  <thead>
	    Все карточки
      </thead>
	  <tbody>
	    <% @cards.each do |card| %>
		  <tr>
		    <td><%= card.original_text %></td>
			<td><%= card.translated_text %></td>
			<td><%= DateTime.parse(card.review_date).strftime("%d/%m/%Y ") %></td>
		  </tr>
	    <% end %>
	  </tbody>
    </table>
  </section>
</section>