<section id="container">
  <section>
    <p style="font-size: 22px;">
      <%= t('cards.new_card') %>
    </p>
    <%= render 'form' %>
    <p><%= link_to t('forms.links.back'), cards_path %></p>
  </section>
</section>
