<section id="container">
  <section>
    <p style="font-size: 22px;">
      Новая карточка
    </p>
    <%= render 'form' %>
    <p><%= link_to 'Назад к карточкам', cards_path %></p>
  </section>
</section>
