<section id="container">
  <section>
    <p style="font-size: 22px;">
      <%= t('decks.new') %>
    </p>
    <%= render 'form' %>
    <p><%= link_to t('simple_form.links.back'), decks_path %></p>
  </section>
</section>
